<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akame.imagepicker">

    <application>
        <activity android:name=".ui.PreviewImageActivity"></activity>
        <activity android:name=".crop.CropActivity" />
        <activity android:name=".ui.ImageListActivity" />
    </application>

</manifest>